Repository tarsisexistence/routeshub: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint, jsonlint

fix(jest): update config for different testing ways
  package/configs/jest.config.js
Due: prettier --write, tslint

Update angularcli monorepo
  package-lock.json
  package.json
Due: none

refactor: rename hub key to notes key
  README.md
  example-app/app/core/components/header/header.component.ts
  example-app/app/routing/hub/app.notes.ts
  example-app/app/routing/hub/app.routes.ts
  example-app/app/views/about/hub/about.notes.ts
  example-app/app/views/about/hub/about.routes.ts
  example-app/app/views/car/hub/car.notes.ts
  example-app/app/views/car/hub/car.routes.ts
  example-app/app/views/details/hub/details.notes.ts
  example-app/app/views/details/hub/details.routes.ts
  example-app/app/views/home/hub/home.notes.ts
  example-app/app/views/home/hub/home.routes.ts
  example-app/app/views/info/hub/info.notes.ts
  example-app/app/views/info/hub/info.routes.ts
  example-app/app/views/users/components/users.component.ts
  example-app/app/views/users/hub/users.notes.ts
  example-app/app/views/users/hub/users.routes.ts
  package/README.md
  package/src/constants/index.ts
  package/src/creators/feature.creator.test.ts
  package/src/creators/root.creator.test.ts
  package/src/decorators/sliced.decorator.test.ts
  package/src/functions/connect-detached.test.ts
  package/src/functions/connect-features.test.ts
  package/src/functions/connect-features.ts
  package/src/functions/get-slice.test.ts
  package/src/functions/get-slice.ts
  package/src/hub.ts
  package/src/interfaces/common.interfaces.ts
  package/src/navigation/navigation.spec.ts
Due: prettier --write, tslint

Update angular monorepo to v8.1.0
  package-lock.json
  package.json
Due: none

Update dependency lint-staged to v9
  package-lock.json
  package.json
Due: none

chore: bump to next version
  package.json
  package/package.json
Due: none

Update dependency snyk to v1.192.3
  package-lock.json
  package.json
Due: none

refactor(example): create routing modules
  example-app/app/core/components/header/header.component.ts
  example-app/app/core/core.module.ts
  example-app/app/hub/app.notes.ts
  example-app/app/hub/app.routes.ts
  example-app/app/hub/guards/.gitkeep
  example-app/app/hub/resolvers/.gitkeep
  example-app/app/hub/routing.module.ts
  example-app/app/hub/strategies/.gitkeep
  example-app/app/routing/hub/index.ts
  example-app/app/routing/routing.hub.ts
  example-app/app/routing/routing.module.ts
  example-app/app/views/about/about.module.ts
  example-app/app/views/about/hub/about-routing.module.ts
  example-app/app/views/about/hub/about.routes.ts
  example-app/app/views/about/hub/index.ts
  example-app/app/views/car/car.module.ts
  example-app/app/views/car/hub/car-routing.module.ts
  example-app/app/views/car/hub/car.routes.ts
  example-app/app/views/car/hub/index.ts
  example-app/app/views/details/details.module.ts
  example-app/app/views/details/hub/details-routing.module.ts
  example-app/app/views/details/hub/details.routes.ts
  example-app/app/views/details/hub/index.ts
  example-app/app/views/home/home.module.ts
  example-app/app/views/home/hub/home-routing.module.ts
  example-app/app/views/home/hub/home.routes.ts
  example-app/app/views/home/hub/index.ts
  example-app/app/views/info/hub/index.ts
  example-app/app/views/info/hub/info-routing.module.ts
  example-app/app/views/info/hub/info.routes.ts
  example-app/app/views/info/info.module.ts
  example-app/app/views/users/hub/index.ts
  example-app/app/views/users/hub/users-routing.module.ts
  example-app/app/views/users/hub/users.routes.ts
  example-app/app/views/users/users.module.ts
Due: prettier --write, tslint

refactor(example): rename routing module to hub
  example-app/app/hub/routing.module.ts
  example-app/app/views/about/about.module.ts
  example-app/app/views/about/hub/about.hub.ts
  example-app/app/views/car/car.module.ts
  example-app/app/views/car/hub/car.hub.ts
  example-app/app/views/details/details.module.ts
  example-app/app/views/details/hub/details.hub.ts
  example-app/app/views/home/home.module.ts
  example-app/app/views/home/hub/home.hub.ts
  example-app/app/views/info/hub/info.hub.ts
  example-app/app/views/info/info.module.ts
  example-app/app/views/users/hub/users.hub.ts
  example-app/app/views/users/users.module.ts
Due: prettier --write, tslint

chore(readme): update readme
  README.md
  example-app/app/core/components/header/header.component.ts
  example-app/app/core/core.module.ts
  example-app/app/hub/app.hub.ts
  example-app/app/views/users/hub/users.hub.ts
  example-app/app/views/users/users.module.ts
  package/README.md
Due: prettier --write, tslint

chore(changelog): update for next release
  CHANGELOG.md
Due: prettier --write, tslint

chore: refactoring
  .lintstagedrc.json
  angular.json
  example-app/test.ts
  example-app/tsconfig.spec.json
  package-lock.json
  package/configs/tsconfig.lib.json
Due: prettier --write, tslint, jsonlint

chore: update readme
  README.md
  package/README.md
Due: prettier --write, tslint

GitBook: [master] 5 pages modified
  docs/api/creators.md
  docs/api/functions.md
  docs/concepts/introduction.md
  docs/example/connecting-the-dots.md
  docs/example/navigating.md
Due: prettier --write, tslint

fix(deps): update dependency routeshub to v3
  package-lock.json
  package.json
Due: none

chore(deps): update dependency lint-staged to v9.1.0
  package-lock.json
  package.json
Due: none

Update issue templates
  .github/ISSUE_TEMPLATE/---bug-report.md
  .github/ISSUE_TEMPLATE/---feature.md
  .github/ISSUE_TEMPLATE/--question.md
Due: prettier --write, tslint

refactor: remove old templates, update readme
  .github/ISSUE_TEMPLATE/BUG.md
  .github/ISSUE_TEMPLATE/FEATURE.md
  .github/ISSUE_TEMPLATE/QUESTION.md
  README.md
  package/README.md
Due: prettier --write, tslint

feat(deps): add all-contributors
  .all-contributorsrc
  README.md
  package-lock.json
  package.json
Due: prettier --write, tslint, jsonlint

chore: update contributors
  .all-contributorsrc
  README.md
  package/README.md
Due: prettier --write, tslint, jsonlint

chore(deps): update dependency @compodoc/compodoc to v1.1.10
  package-lock.json
  package.json
Due: none

chore: update commit configuration
  .huskyrc.json
Due: jsonlint

chore(deps): update dependency lint-staged to v9.2.0
  package-lock.json
  package.json
Due: none

chore(deps): update angularcli monorepo
  package-lock.json
  package.json
Due: none

fix(deps): update angular monorepo to v8.1.1
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @angular-builders/jest to v8.0.4
  package-lock.json
  package.json
Due: none

fix(package): vulnerabilities
  package-lock.json
Due: none

chore(deps): update commitlint monorepo to v8.1.0
  package-lock.json
  package.json
Due: none

chore(deps): update dependency tsickle to v0.36.0
  package-lock.json
  package.json
Due: none

chore(deps): update dependency all-contributors-cli to v6.8.1
  package-lock.json
  package.json
Due: none

fix(deps): update angular monorepo to v8.1.2
  package-lock.json
  package.json
Due: none

GitBook: [master] 14 pages modified
  docs/README.md
  docs/SUMMARY.md
  docs/api/creators.md
  docs/api/decorators.md
  docs/api/functions.md
  docs/api/interfaces.md
  docs/concepts/notes.md
  docs/concepts/slices.md
  docs/example/connecting-the-dots.md
  docs/example/creating-hub.md
  docs/example/creating-notes.md
  docs/example/initial-code.md
  docs/example/navigating.md
  docs/installation.md
Due: prettier --write, tslint

Path conditions:
  prettier --write: any of: *.{ts,js,md}
  tslint: any of: *.{ts,js,md}
  jsonlint: any of: .*{rc,json}
