Repository tarsisexistence/routeshub: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint, jsonlint

.lintstagedrc.json:

{
  "linters": {
    "*.{ts,js,md}": [
      "prettier --write",
      "tslint",
      "git add"
    ],
    ".*{rc,json}": "jsonlint"
  }
}

chore(example): change target to the package, dotted refactoring
  example-app/app/core/components/header/header.component.html
  example-app/app/core/components/header/header.component.ts
  example-app/app/core/core.module.ts
  example-app/app/routing/hub/app-children.notes.ts
  example-app/app/routing/hub/app.notes.ts
  example-app/app/routing/hub/app.slice.ts
  example-app/app/routing/hub/hub.ts
  example-app/app/views/about/hub/about.notes.ts
  example-app/app/views/about/hub/about.slice.ts
  example-app/app/views/automobile/hub/automobile.notes.ts
  example-app/app/views/automobile/hub/automobile.slice.ts
  example-app/app/views/bike/hub/bike.notes.ts
  example-app/app/views/bike/hub/bike.slice.ts
  example-app/app/views/bolid/hub/bolid.notes.ts
  example-app/app/views/bolid/hub/bolid.slice.ts
Due: prettier --write, tslint

feat(link): add link getter util, improve directives for getting links
  example-app/app/core/components/header/header.component.html
  package/src/navigation/navigation-link-with-href.directive.ts
  package/src/navigation/navigation-link.directive.ts
  package/src/utils/route.ts
Due: prettier --write, tslint

feat(link-active): implement new linkActive directive, refactor utils
  example-app/app/core/components/header/header.component.html
  package/src/navigation/navigation-link-active.directive.ts
  package/src/navigation/navigation.module.ts
  package/src/utils/helpers.ts
  package/src/utils/link.ts
  package/src/utils/path.ts
Due: prettier --write, tslint

fix(link): remove routerLink inheritance, add doc for link, refactoring
  example-app/app/core/components/header/header.component.html
  package/src/navigation/navigation-link-with-href.directive.ts
  package/src/navigation/navigation-link.directive.ts
  package/src/utils/link.ts
Due: prettier --write, tslint

fix(lib): correct behavior with invalid links
  example-app/app/core/components/header/header.component.html
  package/src/navigation/navigation-link-with-href.directive.ts
  package/src/navigation/navigation-link.directive.ts
  package/src/utils/link.ts
  package/src/utils/path.ts
Due: prettier --write, tslint

fix(link): refactor nav links
  package/src/creators/creators.spec.ts
  package/src/navigation/navigation-link-with-href.directive.ts
  package/src/navigation/navigation-link.directive.ts
  package/src/utils/reset.ts
Due: prettier --write, tslint

fix(link): fix incorrect behavior with nav links and their active status
  package/src/navigation/navigation-link-active.directive.ts
  package/src/navigation/navigation-link-with-href.directive.ts
  package/src/public_api.ts
  package/src/utils/link.ts
  package/src/utils/state.ts
Due: prettier --write, tslint

chore(example): update example (active style, docs, shortcuts)
  example-app/app/core/components/header/header.component.html
  example-app/app/core/components/header/header.component.scss
  example-app/app/routing/hub/app.routes.ts
  example-app/app/views/about/hub/about.notes.ts
  example-app/app/views/automobile/hub/automobile.notes.ts
  example-app/app/views/bolid/hub/bolid.notes.ts
  example-app/app/views/bolid/hub/bolid.routes.ts
Due: prettier --write, tslint

docs(lib): refactor
  package/src/interfaces/common.interfaces.ts
  package/src/interfaces/routes.interfaces.ts
  package/src/interfaces/slice.interfaces.ts
  package/src/public_api.ts
Due: prettier --write, tslint

Update angular monorepo to v7.2.15
  package-lock.json
  package.json
Due: none

chore(lib): refactor public api, fix tar vulnerability
  package-lock.json
  package/src/public_api.ts
Due: prettier --write, tslint

Update angularcli monorepo
  package-lock.json
  package.json
Due: none

chore(release): 1.3.0 🎉🎉🎉
  .lintstagedrc.json
  CHANGELOG.md
  package-lock.json
  package.json
  package/package.json
  package/src/public_api.ts
Due: prettier --write, tslint, jsonlint

refactor(code): changes after
  example-app/app/core/components/header/header.component.html
  example-app/app/core/components/header/header.component.scss
  example-app/app/routing/hub/app.slice.ts
  package/src/navigation/navigation-link-active.directive.ts
  package/src/public_api.ts
Due: prettier --write, tslint

refactor(example): get rid of ts paths
  example-app/app/core/components/header/header.component.ts
  example-app/app/routing/hub/app.routes.ts
  example-app/app/routing/resolvers/vehicles.resolver.ts
  example-app/app/shared/components/vehicle/vehicle.component.ts
  example-app/app/views/about/hub/about.slice.ts
  example-app/app/views/automobile/automobile.module.ts
  example-app/app/views/automobile/hub/automobile.slice.ts
  example-app/app/views/bike/bike.module.ts
  example-app/app/views/bike/hub/bike.slice.ts
  example-app/app/views/bolid/bolid.module.ts
  example-app/app/views/bolid/hub/bolid.slice.ts
  example-app/assets/data/vehicles.ts
  example-app/main.ts
  package-lock.json
Due: prettier --write, tslint

chore(deps): update dependency @commitlint/cli to v7.6.1
  package-lock.json
  package.json
Due: none

fix(deps): update dependency routeshub to v1.3.0
  package-lock.json
  package.json
Due: none

GitBook: [master] 6 pages modified
  docs/README.md
  docs/api/creators.md
  docs/api/directives.md
  docs/api/interfaces.md
  docs/api/other.md
  docs/getting-started/motivation.md
Due: prettier --write, tslint

Update dependency rxjs to v6.5.2
  package-lock.json
  package.json
Due: none

refactor(md): update issue templates
  .github/ISSUE_TEMPLATE/BUG.md
  .github/ISSUE_TEMPLATE/FEATURE.md
  .github/ISSUE_TEMPLATE/QUESTION.md
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: prettier --write, tslint

Update dependency tslint-angular to v2.0.3
  package-lock.json
  package.json
Due: none

Update dependency husky to v2.3.0
  package-lock.json
  package.json
Due: none

Update dependency snyk to v1.165.0
  package-lock.json
  package.json
Due: none

Update dependency ng-packagr to v5.2.0
  package-lock.json
  package.json
Due: none

Update dependency tslint-angular to v3
  package-lock.json
  package.json
Due: none

Update dependency ng-zorro-antd to v7.4.1
  package-lock.json
  package.json
Due: none

Update dependency jasmine-core to v3
  package-lock.json
  package.json
Due: none

Update dependency ts-node to v8.2.0
  package-lock.json
  package.json
Due: none

Update dependency @types/jasmine to v3
  package-lock.json
  package.json
Due: none

Update dependency tslint to v5.17.0
  package-lock.json
  package.json
Due: none

Update commitlint monorepo to v8
  package-lock.json
  package.json
Due: none

Update dependency codelyzer to v5.1.0
  package-lock.json
  package.json
Due: none

chore: add own queryPrmsHndlng, set default npm, add jscpd
  .jscpd.json
  angular.json
  example-app/app/core/components/header/header.component.html
  package/package.json
  package/src/navigation/helpers.ts
  package/src/navigation/navigation-link-with-href.directive.ts
  package/src/navigation/navigation-link.directive.ts
  tslint.json
Due: prettier --write, tslint, jsonlint

fix(deps): remove vulnerabilities
  package-lock.json
Due: none

Update dependency ng-packagr to v5.3.0
  package-lock.json
  package.json
Due: none

Update dependency ng-zorro-antd to v7.5.0
  package-lock.json
  package.json
Due: none

feat(lib): implement new note creator
  package/src/creators/createNote.ts
  package/src/creators/index.ts
  package/src/public_api.ts
Due: prettier --write, tslint

fix(lib): handle route names and update tests
  package/src/creators/createFeature.ts
  package/src/creators/createRoot.ts
  package/src/creators/creators.spec.ts
  package/src/hub.ts
  package/src/interfaces/common.interfaces.ts
  package/src/interfaces/routes.interfaces.ts
  package/src/utils/enhance.ts
  package/src/utils/entityfy.ts
  package/src/utils/link.ts
  package/src/utils/refresh-children.ts
Due: prettier --write, tslint

Update dependency @angular/cli to v8
  package-lock.json
  package.json
Due: none
