Repository tarsisexistence/routeshub: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint, jsonlint

chore: refactoring
  package-lock.json
  package.json
Due: none

Update angularcli monorepo to v0.800.2
  package-lock.json
  package.json
Due: none

Update angular monorepo to v8
  package-lock.json
  package.json
  package/package.json
Due: none

Update dependency prettier to v1.18.2
  package-lock.json
  package.json
Due: none

feat(upgrade): final part of update to angular 8
  .prettierrc.json
  browserslist
  example-app/app/routing/hub/app.routes.ts
  package-lock.json
  package.json
  tsconfig.json
Due: prettier --write, tslint, jsonlint

refactor(lib): remove gen dir, customize rootRoute, rename interface api
  example-app/app/routing/hub.ts
  example-app/app/routing/hub/app.hub.ts
  example-app/app/routing/hub/app.routes.ts
  example-app/app/views/about/hub/about.hub.ts
  example-app/app/views/automobile/hub/automobile.hub.ts
  example-app/app/views/bike/hub/bike.hub.ts
  example-app/app/views/bolid/hub/bolid.hub.ts
  package/src/creators/createFeature.ts
  package/src/creators/createRoot.ts
  package/src/generators/index.ts
  package/src/generators/notes.ts
  package/src/interfaces/index.ts
  package/src/interfaces/routes.interfaces.ts
  package/src/interfaces/slice.interfaces.ts
  package/src/public_api.ts
  package/src/utils/enhance.ts
Due: prettier --write, tslint

feat(api): extend api by adding getHub and createUnion fns
  example-app/app/core/components/header/header.component.html
  example-app/app/core/components/header/header.component.ts
  example-app/app/routing/hub.ts
  package/src/creators/create-feature.ts
  package/src/creators/create-root.ts
  package/src/creators/create-union.ts
  package/src/creators/creators.spec.ts
  package/src/creators/index.ts
  package/src/hub.ts
  package/src/public_api.ts
Due: prettier --write, tslint

refactor(example): handle interface shortcuts
  example-app/app/views/about/hub/about.hub.ts
  example-app/app/views/bike/hub/bike.hub.ts
Due: prettier --write, tslint

chore(deps): set angular peerDeps available from v5
  package/package.json
Due: none

refactor(creators): create separate create note file
  package/src/creators/create-note.ts
  package/src/creators/create-root.ts
  package/src/creators/creators.spec.ts
  package/src/creators/index.ts
Due: prettier --write, tslint

fix(example): make pathMatch simple
  example-app/app/routing/hub/app.routes.ts
Due: prettier --write, tslint

refactor(readme): rewrite readme
  README.md
  package/README.md
Due: prettier --write, tslint

chore: refactor the routes
  example-app/app/routing/hub/app.routes.ts
Due: prettier --write, tslint

refactor: small refactoring of lib and example
  example-app/app/core/components/header/header.component.html
  example-app/app/core/components/header/header.component.ts
  example-app/app/routing/hub.ts
  example-app/app/routing/hub/app.hub.ts
  package/package.json
  package/src/creators/create-note.ts
Due: prettier --write, tslint

refactor(lib): remove lazy prop, update tests, implement path fixer
  example-app/app/core/components/header/header.component.html
  example-app/app/routing/hub.ts
  package/src/creators/create-note.ts
  package/src/creators/creators.spec.ts
  package/src/interfaces/common.interfaces.ts
  package/src/interfaces/routes.interfaces.ts
  package/src/utils/enhance.ts
  package/src/utils/name.ts
Due: prettier --write, tslint

chore(lib): small generics fix of creators, add feature tests
  package/src/creators/create-feature.ts
  package/src/creators/create-root.ts
  package/src/creators/creators.spec.ts
Due: prettier --write, tslint

refactor(lib): rename creators folders
  package/src/creators/feature.creator.ts
  package/src/creators/note.creator.ts
  package/src/creators/root.creator.ts
  package/src/creators/union.creator.ts
Due: prettier --write, tslint

refactor(lib): minor intrnl updates, remove redundant fns, update tests
  package/src/creators/creators.spec.ts
  package/src/creators/feature.creator.spec.ts
  package/src/creators/index.ts
  package/src/creators/note.creator.spec.ts
  package/src/creators/root.creator.spec.ts
  package/src/utils/enhance.ts
  package/src/utils/link.ts
  package/src/utils/path.ts
  package/src/utils/state.ts
Due: prettier --write, tslint

test(creators): complete testing creators
  package/src/creators/union.creator.spec.ts
Due: prettier --write, tslint

refactor: restructure app hub, add test for note
  README.md
  example-app/app/core/components/header/header.component.ts
  example-app/app/routing/hub/index.ts
  example-app/app/routing/routing.hub.ts
  example-app/app/routing/routing.module.ts
  example-app/app/views/about/hub/about.hub.ts
  example-app/app/views/automobile/hub/automobile.hub.ts
  example-app/app/views/bike/hub/bike.hub.ts
  example-app/app/views/bolid/hub/bolid.hub.ts
  package/src/creators/note.creator.spec.ts
Due: prettier --write, tslint

chore: update readmes and packagejsons
  README.md
  package.json
  package/README.md
  package/package.json
Due: prettier --write, tslint

chore(changelog): update changelog
  CHANGELOG.md
  package/src/utils/state.ts
Due: prettier --write, tslint

GitBook: [master] 22 pages and one asset modified
  docs/.gitbook/assets/icon_origin_225x225.png
  docs/README.md
  docs/SUMMARY.md
  docs/api/creators.md
  docs/api/directives.md
  docs/api/functions.md
  docs/api/interfaces.md
  docs/api/other.md
  docs/concepts/creators.md
  docs/concepts/introduction.md
  docs/concepts/notes.md
  docs/concepts/slices.md
  docs/concepts/unions.md
  docs/example/connecting-the-dots.md
  docs/example/creating-hub.md
  docs/example/creating-notes.md
  docs/example/creating-slices.md
  docs/example/initial-code.md
  docs/example/navigating.md
  docs/getting-started/README.md
  docs/getting-started/installation.md
  docs/getting-started/motivation.md
  docs/installation.md
Due: prettier --write, tslint

chore(release): 2.0.0 🎉🎉🎉
  docs/.gitbook/assets/icon_origin_225x225.png
  docs/README.md
  docs/SUMMARY.md
  docs/api/creators.md
  docs/api/directives.md
  docs/api/functions.md
  docs/api/interfaces.md
  docs/api/other.md
  docs/concepts/creators.md
  docs/concepts/introduction.md
  docs/concepts/notes.md
  docs/concepts/slices.md
  docs/concepts/unions.md
  docs/example/connecting-the-dots.md
  docs/example/creating-hub.md
  docs/example/creating-notes.md
  docs/example/creating-slices.md
  docs/example/initial-code.md
  docs/example/navigating.md
  docs/getting-started/README.md
  docs/getting-started/installation.md
  docs/getting-started/motivation.md
  docs/installation.md
Due: prettier --write, tslint

Update dependency routeshub to v2
  package-lock.json
  package.json
Due: none

Update dependency tslib to v1.10.0
  package-lock.json
  package.json
Due: none

Update dependency husky to v2.4.1
  package-lock.json
  package.json
Due: none

chore: minor changes
  .github/ISSUE_TEMPLATE/BUG.md
  CHANGELOG.md
  README.md
  package/README.md
Due: prettier --write, tslint

feat(decorator): add slice decorator
  package/src/constants/index.ts
  package/src/decorators/index.ts
  package/src/decorators/slice.decorator.ts
  package/src/hub.ts
  package/src/public_api.ts
Due: prettier --write, tslint

refactor(lib): minor changes
  package/src/creators/note.creator.ts
  package/src/interfaces/common.interfaces.ts
  package/src/interfaces/index.ts
  package/src/interfaces/slice.interfaces.ts
  package/src/navigation/navigation-link-active.directive.ts
  package/src/utils/name.ts
  tsconfig.json
Due: prettier --write, tslint

feat(lib): update creators, tests, interfaces
  package/src/creators/feature.creator.spec.ts
  package/src/creators/feature.creator.ts
  package/src/creators/root.creator.spec.ts
  package/src/creators/root.creator.ts
  package/src/creators/union.creator.spec.ts
  package/src/hub.ts
Due: prettier --write, tslint

refactor(example): update example
  example-app/app/core/components/header/header.component.html
  example-app/app/core/components/header/header.component.ts
  example-app/app/core/containers/view/view.component.ts
  example-app/app/routing/hub/app.hub.ts
  example-app/app/routing/hub/app.routes.ts
  example-app/app/routing/hub/index.ts
  example-app/app/routing/routing.hub.ts
  example-app/app/routing/routing.module.ts
  example-app/app/views/about/about.module.ts
  example-app/app/views/about/hub/about.hub.ts
  example-app/app/views/about/hub/about.routes.ts
  example-app/app/views/about/hub/index.ts
  example-app/app/views/automobile/automobile.module.ts
  example-app/app/views/automobile/hub/automobile.hub.ts
  example-app/app/views/automobile/hub/automobile.routes.ts
  example-app/app/views/automobile/hub/index.ts
  example-app/app/views/bike/bike.module.ts
  example-app/app/views/bike/hub/bike.hub.ts
  example-app/app/views/bike/hub/bike.routes.ts
  example-app/app/views/bike/hub/index.ts
  example-app/app/views/bolid/bolid.module.ts
  example-app/app/views/bolid/hub/bolid.hub.ts
  example-app/app/views/bolid/hub/bolid.routes.ts
  example-app/app/views/bolid/hub/index.ts
  package/src/utils/name.ts
Due: prettier --write, tslint

refactor(all): chore
  README.md
  example-app/app/core/components/header/header.component.ts
  example-app/app/core/containers/view/view.component.ts
  example-app/app/routing/hub/app.notes.ts
  example-app/app/routing/hub/app.routes.ts
  example-app/app/routing/routing.hub.ts
  example-app/app/views/about/hub/about.notes.ts
  example-app/app/views/about/hub/about.routes.ts
  example-app/app/views/automobile/hub/automobile.notes.ts
  example-app/app/views/automobile/hub/automobile.routes.ts
  example-app/app/views/bike/hub/bike.notes.ts
  example-app/app/views/bike/hub/bike.routes.ts
  example-app/app/views/bolid/hub/bolid.notes.ts
  example-app/app/views/bolid/hub/bolid.routes.ts
  package/README.md
  package/src/creators/root.creator.spec.ts
  package/src/creators/root.creator.ts
  package/src/creators/union.creator.spec.ts
  package/src/decorators/index.ts
  package/src/decorators/sliced.decorator.ts
  package/src/hub.ts
  package/src/interfaces/common.interfaces.ts
  package/src/public_api.ts
  package/src/utils/enhance.ts
  package/src/utils/reset.ts
Due: prettier --write, tslint

Update angularcli monorepo
  package-lock.json
  package.json
Due: none

chore(readme): update readme
  README.md
  example-app/app/core/components/header/header.component.ts
  example-app/app/routing/hub/app.notes.ts
  package/README.md
Due: prettier --write, tslint

GitBook: [master] 13 pages modified
  docs/README.md
  docs/SUMMARY.md
  docs/api/creators.md
  docs/api/decorators.md
  docs/api/directives.md
  docs/api/functions.md
  docs/api/interfaces.md
  docs/concepts/notes.md
  docs/concepts/slices.md
  docs/concepts/unions.md
  docs/example/connecting-the-dots.md
  docs/example/creating-hub.md
  docs/example/navigating.md
Due: prettier --write, tslint

refactor(readme): update readme and code
  README.md
  package/README.md
  package/src/creators/feature.creator.ts
  package/src/decorators/sliced.decorator.ts
  package/src/interfaces/common.interfaces.ts
  package/src/utils/reset.ts
Due: prettier --write, tslint

chore(release): 2.1.0 🎉🎉🎉
  CHANGELOG.md
  package.json
  package/package.json
Due: prettier --write, tslint

Update dependency routeshub to v2.1.0
  package-lock.json
  package.json
Due: none

Update dependency ts-node to v8.3.0
  package-lock.json
  package.json
Due: none

Path conditions:
  prettier --write: any of: *.{ts,js,md}
  tslint: any of: *.{ts,js,md}
  jsonlint: any of: .*{rc,json}
